.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: rgb(247, 248, 248);
    width: 72px;
    z-index: 200px;
    padding-top: 9px;
}
.sidebar-link{
    background-color: rgb(246, 246, 246);
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.sidebar-link:hover{
    background-color: rgb(230, 224, 224);
    border-radius: 50px;
    cursor: pointer;
}
.sidebar-link img{
    margin-top: 7px;
    margin-bottom: 7px;
    height: 30px;

}
.sidebar-link div{
font-family: Arial, roboto;
font-size: 10px;
}
